<div>
  <table>
    <tr>
      <td>
        <app-user-list></app-user-list>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Create user</h3>
        <app-register-form></app-register-form>
      </td>
    </tr>
  </table>

  <hr />

  <table>
    <tr>
      <td>
        <app-agency-list></app-agency-list>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Create agency</h3>
        <app-agency-form></app-agency-form>
      </td>
    </tr>
  </table>

  <hr />

  <table>
    <tr>
      <td>
        <app-location-list></app-location-list>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Location form</h3>
        <app-location-form></app-location-form>
      </td>
    </tr>
  </table>
</div>
