<div>
  <div [ngSwitch]="user.type">
    <div>
      <app-welcome [name]="user.name!"></app-welcome>
      <hr />
      <div *ngSwitchCase="0"><app-admin></app-admin></div>
      <div *ngSwitchCase="2"><app-buyer></app-buyer></div>
      <hr />
      <h3>Change password</h3>
      <app-change-pass [id]="user._id!"></app-change-pass>
      <hr />
      <button routerLink="/user/change/{{ user._id }}">Change Info</button>
      <hr />
      <app-logout [id]="user._id!"></app-logout>
    </div>
    <div *ngSwitchDefault><h1>ERROR</h1></div>
  </div>
</div>
